<div>
    {{#each this}}
    <section>
        <div>
        {{username}} on {{format_date created_at}}
        </div>
        <div>
            {{review_text}}
        </div>
    </section>
    {{/each}}
</div>