<section class="container is-fluid is-centered">
  <h2>Create New Recipe</h2>

  <form class="new-recipe-form">
    <div>
      <label>Title</label>
      <input type="text" id="recipe-title" name="recipe-title" />
    </div>
    <div>
      <label for="recipe-desc">Short Description</label>
      <input type="text" id="recipe-desc" name="recipe-desc" />
    </div>
    <div>
      <label for="recipe-text">Instructions</label>
      <input type="text" id="recipe-text" name="recipe-text" />
    </div>
    <button type="submit" class="button is-primary is-light">Create</button>
  </form>
</section>

{{#if recipes.length}}
<section>
  <h2>Your Recipes</h2>
  <ol>
    {{#each recipes as |recipe|}}
    <li>
      {{> recipe-details recipe}}
      <a href="/dashboard/edit/{{recipe.id}}" class="edit-link button is-dark is-light">Edit Recipe</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/js/add-recipe.js"></script>