<section>
  <div>
    <h3>{{recipe.title}}</h3>
    <p>By: {{user.username}}</p>
  </div>
  <div>{{recipe.recipe_text}}</div>
</section>

{{#if loggedIn}}
<form class="review-form">
  <div>
    <textarea name="review-body"></textarea>
  </div>

  <div>
    <button type="submit">add a review</button>
    <button type="button" class="likes-btn">like</button>
  </div>
</form>
{{/if}}


{{> review recipe.reviews}}

{{#if loggedIn}}
<script src="/js/reviews.js"></script>
<script src="/js/addlike.js"></script>
{{/if}}